@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneuecyr-light.otf");
}
/* line 6, ../sass/styles.sass */
h1#page-title {
  font-size: 40px !important;
  color: #7400FF;
}
@media screen and (max-width: 600px) {
  /* line 6, ../sass/styles.sass */
  h1#page-title {
    width: 365px;
  }
}

/* line 13, ../sass/styles.sass */
.form-item-pickup-time label {
  background: url("../images/time.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 31px !important;
  height: 31px !important;
  text-align: right;
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

/* line 26, ../sass/styles.sass */
.form-item-flight-time label {
  background: url("../images/time.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 31px !important;
  height: 31px !important;
  text-align: right;
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

/* line 38, ../sass/styles.sass */
.form-item-travel-date label {
  background: url("../images/calendar.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 31px !important;
  height: 31px !important;
  text-align: right;
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

/* line 49, ../sass/styles.sass */
.time_pick {
  float: left;
}

/* line 52, ../sass/styles.sass */
.form-required {
  display: none;
}

/* line 55, ../sass/styles.sass */
.form-type-checkbox {
  display: inline-block;
  margin-bottom: 0px;
}

/* line 60, ../sass/styles.sass */
body #sidebar-first {
  display: none;
}
/* line 62, ../sass/styles.sass */
body #sidebar-second {
  display: none;
}

/* line 65, ../sass/styles.sass */
#breadcrumb {
  display: none;
}

/* line 69, ../sass/styles.sass */
body #content {
  float: none;
}
/* line 72, ../sass/styles.sass */
body #content .section {
  width: 800px;
  font-family: "HelveticaNeue";
  margin: 0 auto;
}

/* line 77, ../sass/styles.sass */
.container-inline-date {
  display: inline-block;
}
/* line 79, ../sass/styles.sass */
.container-inline-date .description {
  display: none;
}

/* line 82, ../sass/styles.sass */
.form-item-travel-date {
  display: inline-block;
}

/* line 87, ../sass/styles.sass */
body .form-item-travel-date-date input {
  width: 300px !important;
  margin-bottom: 15px;
}

/* line 92, ../sass/styles.sass */
input[type=text] {
  width: 300px;
  height: 25px;
  border: 1px solid #999 !important;
  font-size: 17px;
}

/* line 98, ../sass/styles.sass */
#lable-one {
  font-size: 25px;
  color: #0D1988;
}
@media screen and (max-width: 600px) {
  /* line 98, ../sass/styles.sass */
  #lable-one {
    width: 365px;
  }
}

/* line 104, ../sass/styles.sass */
#edit-lable-two {
  font-size: 25px;
  color: #0D1988;
}
@media screen and (max-width: 600px) {
  /* line 104, ../sass/styles.sass */
  #edit-lable-two {
    width: 365px;
  }
}

/* line 110, ../sass/styles.sass */
#edit-lable-tree {
  font-size: 25px;
  color: #0D1988;
}
@media screen and (max-width: 600px) {
  /* line 110, ../sass/styles.sass */
  #edit-lable-tree {
    width: 365px;
  }
}

/* line 117, ../sass/styles.sass */
body .form-type-checkbox {
  font-size: 20px;
  margin-right: 60px;
}

/* line 121, ../sass/styles.sass */
.form-item-pickup-time {
  display: inline-block;
}

/* line 124, ../sass/styles.sass */
.form-item-meeting-id {
  float: left;
  margin-top: 4px !important;
  display: inline-block;
  margin-right: 65px;
}

/* line 130, ../sass/styles.sass */
.form-item-firstname {
  display: inline-block;
  margin-right: 65px;
}

/* line 134, ../sass/styles.sass */
.form-item-lastname {
  display: inline-block;
}

/* line 137, ../sass/styles.sass */
.form-item-number {
  display: inline-block;
  margin-right: 65px;
}

/* line 141, ../sass/styles.sass */
.form-item-email {
  display: inline-block;
}

/* line 144, ../sass/styles.sass */
.form-item-select {
  display: inline-block;
  margin-right: 65px;
  border: 1px solid #999 !important;
}

/* line 149, ../sass/styles.sass */
.form-item-flight-time {
  display: inline-block;
}

/* line 152, ../sass/styles.sass */
.form-item-airport {
  display: inline-block;
  margin-right: 65px;
  border: 1px solid #999 !important;
}

/* line 157, ../sass/styles.sass */
.form-item-taxi {
  display: inline-block;
  margin-right: 65px;
  border: 1px solid #999 !important;
}

/* line 162, ../sass/styles.sass */
.form-item-buses {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #999 !important;
}

/* line 167, ../sass/styles.sass */
.form-item-flight-number {
  display: inline-block;
}

/* line 170, ../sass/styles.sass */
#edit-submit {
  display: block;
  width: 300px;
  height: 35px;
  background: #00457c;
  color: white;
  border-radius: 0px;
  font-size: 17px;
}

/* line 181, ../sass/styles.sass */
body select {
  width: 310px;
  height: 30px;
  font-size: 17px;
}

/* line 186, ../sass/styles.sass */
.form-type-item {
  border-bottom: 1px solid black;
}

/* line 190, ../sass/styles.sass */
.ti_tx,
.mi_tx,
.mer_tx {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

/* line 198, ../sass/styles.sass */
.time,
.mins,
.meridian {
  width: 60px;
  float: left;
  margin: 0 10px;
  font-size: 20px;
  color: #2d2e2e;
  font-family: arial;
  font-weight: 700;
}

/* line 209, ../sass/styles.sass */
.prev,
.next {
  cursor: pointer;
  padding: 18px;
  width: 28%;
  border: 1px solid #ccc;
  margin: auto;
  background: url(../images/arrow.png) no-repeat;
  border-radius: 5px;
}

/* line 219, ../sass/styles.sass */
.prev:hover,
.next:hover {
  background-color: #ccc;
}

/* line 223, ../sass/styles.sass */
.next {
  background-position: 50% 150%;
}

/* line 226, ../sass/styles.sass */
.prev {
  background-position: 50% -50%;
}

/* line 229, ../sass/styles.sass */
.time_pick {
  position: relative;
}

/* line 233, ../sass/styles.sass */
.timepicker_wrap {
  padding: 10px;
  border-radius: 5px;
  z-index: 998;
  display: none;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.35);
  background: #f6f6f6;
  border: 1px solid #ccc;
  float: left;
  position: absolute;
  top: 27px;
  left: 0;
}

/* line 247, ../sass/styles.sass */
.arrow_top {
  position: absolute;
  top: -10px;
  left: 20px;
  background: url(../images/top_arr.png) no-repeat;
  width: 18px;
  height: 10px;
  z-index: 999;
}

/* line 256, ../sass/styles.sass */
#submit-form {
  display: block;
  float: none;
}

/* line 260, ../sass/styles.sass */
input.timepicki-input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  float: none;
  margin: 0;
  text-align: center;
  width: 70%;
}

/* line 269, ../sass/styles.sass */
a.reset_time {
  float: left;
  margin-top: 5px;
  color: #000;
}

/* line 274, ../sass/styles.sass */
.dl {
  float: left;
  width: 50%;
}
@media screen and (max-width: 600px) {
  /* line 274, ../sass/styles.sass */
  .dl {
    float: none;
    width: 100% !important;
  }
  /* line 280, ../sass/styles.sass */
  .dl .form-item-meeting-id {
    float: left;
    width: 50%;
  }
}

/* line 284, ../sass/styles.sass */
.dr {
  float: right;
  width: 50%;
}
@media screen and (max-width: 600px) {
  /* line 284, ../sass/styles.sass */
  .dr {
    float: none;
    width: 100% !important;
  }
}

/* line 291, ../sass/styles.sass */
.maxym {
  height: 48px;
}
